
<!-- move something up/down 1 line  -->
 <!-- *** CONTROL + COMMAND + UP/DOWN arrow ***  -->

<% array.each do |item| %>
	<%= item %>
<% end %>



<!-- produce a copy of the current line and insert directly below that line --> 
<!-- COMMAND + SHIFT + 'd' -->
<nav>
	<a href=""></a>
	<a href=""></a>
	<a href=""></a>
	<a href=""></a>
</nav>



<!-- - delete the current line of code -->
<!-- COMMAND + 'x' (...aka 'cut')  -->

<ul>
	<li></li>
	<li></li>
</ul>


<!-- jump to the top/bottom of a document -->
<!-- COMMAND + UP/DOWN arrow -->

<!-- jump to the beginning/end of a line of code -->
<!-- COMMAND + LEFT/RIGHT arrow -->

<p>really long line of code with a typo at the beginning and the cursor toward the end.</p>


<!-- highlight entire line of code  -->
<!-- COMMAND + 'l' -->

<p>ereally long line of code with a typo at the beginning and the cursor toward the end.</p>

<!-- search for a particular file in your project -->
<!-- COMMAND + 't' -->


<!-- search for a particular word/phrase -->
<!-- COMMAND + 'f' -->


<!-- save ALL files in a directory/project -->
<!-- OPTION + COMMAND + 's' -->


<!-- switch between sublime windows -->
<!-- COMMAND + '~' -->


<!-- switch to tab immediately to the left/right -->
<!-- OPTION + COMMAND + LEFT/RIGHT arrow -->


<!-- switch to nth tab -->
<!-- COMMAND + n -->

<!-- LAYOUT: n columns (1-4) -->
<!-- OPTION + COMMAND + n -->

<!-- LAYOUT: n rows (2-3) -->
<!-- OPTION + COMMAND + SHIFT + n -->

<!-- LAYOUT: 4 boxes -->
<!-- OPTION + COMMAND + '5' -->



